body {
  background-color: #f1f1f9;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: burlywood;
  font-size: 60px;
  margin: 0px;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gray;
  font-size: 25px;
  margin: 10px;
}